:root{
  --btn-main-bg: #29B8B5;
  --btn-main-font: #FFFFFF;
  --btn-sub-bg: #9A9DA0;
  --btn-sub-font: #EBEDEF;
  --editor-main-bg: #F9F9FA;
  --editor-icon-bg: #D9F1F1;
}

body {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: auto;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
